*{
    margin: 0;
    padding: 0;
}
.PageHeader{
    text-align: center;
}
.HeaderImg{
    margin:14px;
}

.Componants{
    border: 1px solid rgb(0,57,83);
    border-radius: 5px;
    margin: 38%;
    margin-top: 0;
    margin-bottom: 0;
    width: 23%;
    height:400px;
}
.FORM{
    text-align: left;
    margin: 20px;
}
.FormTitle{
  
    font-size: 30px;
}


 .Labels{
     
     font-size: 19px;
     font-weight: bold;
     
     color: rgb(0,57,83);
    
 }
 .TextBoxes{
   border-radius: 5px;
   border: 2px solid rgb(211, 206, 206);  
     width: 300px;
     height: 27px;
     cursor: pointer;
 }

 .FormBTN{
     background-color: rgb(0,57,83);
     color: white;
     border-radius: 5px;
     width: 300px;
     height: 27px;
     font-size: 20px;
     text-align: center;
 }
 .SmallParts{
     margin-top:  15px;
     margin-bottom: 15px;
 }
 .CreateBTN{
    width: 300px;
    height: 35px;
    border: 2px solid rgb(0,57,83);
    /* font-family:'Times New Roman', Times, serif; */
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(0,57,83);
 }

 .SmallParts h6 {
    display: flex;
    color: rgb(158, 155, 155);
    font-size: 15px;
    margin-bottom: 10px;
    flex-direction: row;
  }
  .SmallParts h6:before,  .SmallParts h6:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .SmallParts h6:before {
    margin-right: 10px
  }
  .SmallParts h6:after {
    margin-left: 10px
  }
 
  .SP3{
      margin-top: 20px;
      margin-bottom: 20px;
  }
  .SP3 input{
      margin-bottom: 15px;
  }
  .PageFooter{
      height: 100%;
      text-align: center;
      margin: 30px;
  }
  .PageFooter a{
      margin-left: 10px;
      margin-left: 10px;
      padding: 5px;
      font-size: 13px;
      text-decoration: none;
      color:rgb(0,57,83);
  }
  .PageFooter p{
      margin: 15px;
      font-size: 15px;
      color: rgb(85, 84, 84);  
  }
  .PageFooter hr{
    border:none;
    height: 20px;
       width: 90%;
      height: 50px;
      margin-top: 0;
      border-bottom: 1px solid rgb(238, 233, 233);
      box-shadow: 0 20px 20px -20px rgb(172, 170, 170);
      margin: -50px auto 10px; 
  }
  .SP2 a{
      text-decoration: none;
      color:rgb(0,57,83);
      margin-left: 77px;
      font-size: 15px;
      padding: 4px;
  }
  .SP3 i{
      color: grey;
      margin-left: 5px;
      margin-top: 2px;
      font-size: 15px;
  }
  .SP3 a{
      text-decoration: none;
  }
  a{
    color:rgb(0,57,83); 
  }
  .ComponantsR{
    border: 1px solid rgb(0,57,83);
    border-radius: 5px;
    margin: 38%;
    margin-top: 0;
    margin-bottom: 0;
    width: 23%;
    height:500px;
}
  .PageFooterR{
    height: 10%;
    text-align: center;
    margin: 30px;
}
.PageFooterR a{
    margin-left: 10px;
    margin-left: 10px;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    color:rgb(0,57,83);
}
.PageFooterR p{
    margin: 15px;
    font-size: 15px;
    color: rgb(85, 84, 84);  
}
.PageFooterR hr{
  border:none;
  height: 20px;
     width: 90%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid rgb(238, 233, 233);
    box-shadow: 0 20px 20px -20px rgb(172, 170, 170);
    margin: -50px auto 10px; 
}